@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    Welcome to MyLibrary! MyLibrary is a web application that allows creation/modification/deletion/retrieval of books.
    It is built with ASP.NET Core microservice as back-end and ASP.NET MVC as front-end. 
    This application was created to fulfill DSCC module’s requirements.
</p>
